<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Моя первая веб-страница</title>
<link rel="stylesheet" href="/styles/css/style.css">
</head>

<body>
<% include blocks/header.ejs %>
<div align=center>
  <h2>Моя первая страница на HTML</h2>
  <br>
  <h1>Привет МИР!</h1>
  <img src="http://u4ilka.kcbux.ru/Css/css-004-slon.jpg">
  <p>
    Мой тестовый файл для текста.

    Мой новый текст
  </p>
</div>
</body>

</html>
